* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: black;
    font-family: 'EB Garamond', serif;
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Barlow', sans-serif; */
    font-size: 16px;
    width: 100vw;
}

h1{
    font-size: 3em;
}

section {
    /* border:1px solid aqua; */
    margin-top: 10vh;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 1.6em;
}

nav {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    /* font-size: 1em; */
    /* display: flex;
    justify-content: space-between; */
    position: fixed;
    top:0;
    width: 100vw;
    /* height: 10vh; */
    color: black;
    background-color: white;
    box-shadow: 8px 0 8px #555;
    z-index: 4;
}
.flat-footed{
    box-shadow: 0 0 0;
}

.dummy-nav {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    /* font-size: 1em; */
    /* display: flex;
    justify-content: space-between; */
    /* position: fixed; */
    /* top:0; */
    width: 100vw;
    /* height: 10vh; */
    color: black;
    background-color: white;
}

  .navbar {
    width: 50vw;
    font-size: .9em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
 .nav-item {
    padding: 2vw;
    /* color: var(--white); */
    /* font-size: 20px; */
    /* font-weight: 600; */
    /* letter-spacing: 2px; */
    list-style: none;
  }
  
  .nav-item a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
  }
  
  li.active {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
  }


main {
    margin-top: 15vh;
    width: 100vw;
}

.hero {
    /* border: 1px solid red; */
    margin: 5px auto;
    height: 90vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
}

.hero > * {
    margin: 0 auto;
}

.u_l {
  text-decoration: underline;
}

.hero-content {
    text-align: left;
}

.hero img {
      height: 23vw;
      width: 23vw;
      border-radius: 50%;     
}

.contacts {
  height: 40vh;
  width: 80vw;
  padding: 5vh;
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;
  align-self: center;
}



.thumbnails {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 80vw;
    align-content: space-around;
    overflow: hidden;
    position: relative;
    top: 20vh;
}

.thumbnails a {
    width: 10vw;
    height: 5vw;
    object-fit: contain;
    /* background-size: cover; */
    margin-bottom: 2vh;
    border: .3vw solid lightsalmon;
    margin: .5vw;
    overflow: hidden;
}

.thumbnails img {
    width: 10vw;
    height: 5vw;
}

.skillset {
  max-width: 80vw;
  min-width: 60vw;
  margin: 0 auto;
}

.thumbnails img:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}

.quotes-area {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-size: 2em;
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

/* .about {
  border: 1px dotted purple;
} */

.about-me {
  /* border:1px dotted green; */
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center;
  font-size: 1.5em;
}

footer {
  background: aqua;
  background: url('assets/trainTunnelStockhom.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

footer p {
    position: fixed;
    bottom: 0;
    right: 1vw;
}

.head-space {
    height: 20vh;
    width: 100vw;
}

.projects {
  margin: 0 auto;
  width: 85vw;
}
.profile-content {
  display: flex;
}
.profile-content > * {
  flex:1;
  height:100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
.minis {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 25%;

}
.minis img {
    object-fit: contain;
    width: 100%;
}
.main-pic {
  width: 50%;
  border:2px solid darkgrey;
}
