:root {
    --pic0: url('assets/quakeWatch.png');
    --pic1: url('assets/shop-screenshot.png');
    --pic2: url('assets/underwater-tractor.jpg');
    --pic3: url('assets/airport');
    --pic4: url('assets/magnus');
    --pic5: url('assets/fireman-poland.jpg')

  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: black;
    font-family: 'EB Garamond', serif;
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Barlow', sans-serif; */
    font-size: 16px;
    width: 100vw;
}

section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 1.6em;
}

nav {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    /* font-size: 1em; */
    /* display: flex;
    justify-content: space-between; */
    position: fixed;
    top:0;
    width: 100vw;
    /* height: 10vh; */
    color: black;
    background-color: white;
    box-shadow: 8px 0 8px #555;
}
.flat-footed{
    box-shadow: 0 0 0;
}

.dummy-nav {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    /* font-size: 1em; */
    /* display: flex;
    justify-content: space-between; */
    /* position: fixed; */
    /* top:0; */
    width: 100vw;
    /* height: 10vh; */
    color: black;
    background-color: white;

}
  .navbar {
    width: 50vw;
    font-size: .9em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
 .nav-item {
    padding: 2vw;
    /* color: var(--white); */
    /* font-size: 20px; */
    /* font-weight: 600; */
    /* letter-spacing: 2px; */
    list-style: none;
  }
  
  .nav-item a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
  }
  
  li.active {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
  }


main {
    margin-top: 10vh;
    width: 100vw;
}

.hero {
    margin: 0 auto;
    height: 90vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.hero img {
      height: 300px;
      width: 300px;
      border-radius: 50%;
}

.slide-screen {
      width: 50vw;
      height: 25vw;
      border: 1px dashed green;
      overflow: hidden;
      margin: 0 auto;

      display: inline-block;
    height: 200px;
    width: 500px;
    background: black;
    position: absolute;
    margin: auto;
}



.film-reel {
      display: flex;
      width: 350vw;

}

.slide-frame {
    width: 50vw;
    height: 25vw;
    background-size: 50vw auto;
    background-repeat: no-repeat;
}

img {
    height: 25vh;
    width: 50vw;
}

.slide-frame-0{background: url('assets/quakeWatch.png')};
.slide-frame-1{background: url('assets/shop-screenshot.png')};
.slide-frame-2{background: url('assets/underwater-tractor.jpg')};
.slide-frame-3{background: url('assets/airport')};
.slide-frame-4{background: url('assets/magnus')};
.slide-frame-5{background: url('assets/fireman-poland.jpg')};

.thumbnails {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 80vw;
    align-content: space-around;
    overflow: hidden;
}

.thumbnails a {
    width: 10vw;
    height: 5vw;
    background-size: cover;
    margin-bottom: 2vh;
    border: .3vw solid lightsalmon;
    margin: .5vw;
}

#thumb0{background: url('assets/quakeWatch.png')};
#thumb1{background: url('assets/shop-screenshot.png')};
#thumb2{background: url('assets/underwater-tractor.jpg')};
#thumb3{background: url('assets/airport')};
#thumb4{background: url('assets/magnus')};
#thumb5{background: url('assets/fireman-poland.jpg')};


.thumbnails img:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}

.quotes-area {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-size: 2em;
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

input, textarea {
    color: black;
    text-transform: none;
    background: white;
    /* font-family: 'Raleway', sans-serif; */
    border: .1rem solid black;
    padding: .1rem .5rem;
    font-size: 1em;
}

[type="submit"] {
    color: #405460;
}

input[type="submit"]:hover {
    color: #C3F5F8;
    background: #405460;
    transition: all 1s ease-in-out;
}


.contact {
    width: 100%;
    padding: 15rem 0;        
    background: white;
    text-align: center;
    height: 95vh;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}

.contact-box {
    width: 55vw;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

form.contact-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* align-content: stretch; */
    margin: 0 auto;
    /* height: 4rem; */
    text-align: center;
    margin-top: 5rem;
}

.form-input {
    width: 100%;
    /* margin-bottom: 7vh; */
}

.top-line {
    width: 27vw;
    margin: auto;
}

/* .bottom-two {
    width: 85vw;
} */

.in-touch:focus {
    outline: none;
    box-shadow: 0 0 .5rem .2rem #769AAF;
}

[name="comment"] {
    padding-bottom: 20rem;
    width: 100%;
}

.top-line {
    /* margin: 1rem 1.2% 0 0; */
    width: auto;
}

/* .name-line:last-child {
    margin-right: 0;
} */

/* .top-line {
    width: 100%
} */

.comment [type="submit"] {
    border-width: .3rem;
    width: 100%;
}

.warning {
    font-family: 'EB Garamond', serif;
    text-transform: none;
    font-size: .8em;
    color: red;
    display: none;
}





  footer {
    background: url('assets/trainTunnelStockhom.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  footer p {
      position: fixed;
      bottom: 0;
      right: 1vw;
  }



/* .thumb #thumb0{background: url("assets/quakeWatch.png");}
.thumb #thumb1{background: url("assets/shop-screenshot.png");}
.thumb #thumb2{background: url("assets/underwater-tractor.jpg");}
.thumb #thumb3{background: url("assets/airport.jpg");}
.thumb #thumb4{background: url("assets/magnus.jpg");}
.thumb #thumb5{background: url("assets/fireman-poland.jpg");} */